
.tabsBodyItem {
  border-bottom: 1px solid #999;
  padding: 1rem;

}

.tabsTitle {
  color: #000;
  font-size: 1.25rem;
  font-weight: 400;
}

.tabsNumberTitle {
  color: #999;
  font-size: 1.125rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0 0.63rem;
}

.tabsNumberBlue {
  color: #4180C6;
  font-size: 1.5rem;
  font-weight: 400;
}

